:root {
    --laranja: #FDB913;
    --azul: #29295B;
    --verde: #72C02C;
    --cinza: #434A4F;
    --cinzaclaro: #D3D0D5;
    --preto: #1A1736;
    --branco: #FFFFFF;
    --fundocinza: #F6F6FA;
    --fundocinzaescuro: #272A2B;
    --verdebotao: #638F3D;
  }



body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;

}


/* NAV BAR */

.sec_navbar {
    background-color: var(--branco);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 68px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px #AAAAAA;
}

@media screen and (max-width: 991px) {
    .nav_sombreado {
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 16px;
        margin: 0!important;
        width: 100%;
    }
}

.logo_blog {
    width: 70px;
    text-align: left;
    margin: 0px!important;
    padding: 0px!important;
}

.div_logo {
    padding: 0;
}


.navbar_blog {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 1200px) {
    .navbar_blog
 {
        padding-left: 32px;
        padding-right: 32px;
    }
}


.navbar-nav {
    align-items: center;
}

.nav-link {
    color: var(--cinza);
    font-weight: 400;
    font-size: 15px;
}

.nav-link:hover {
    text-decoration: underline 2px var(--laranja);
    color: var(--cinza);
    
}

.botao_verde-out {
    border: 1px solid var(--verde);
    background-color: #ffffff;
    border-radius: 32px;
    color: var(--verde);
    font-weight: 400;
    font-size: 15px;
    margin-left: 8px;
    padding: 8px 16px 8px 16px;
    white-space: nowrap;
}

.botao_verde {
    background-color: var(--verde);
    border-radius: 32px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    padding: 8px 16px 8px 16px;

}


/* TÍTULO BLOG */

.secao_titulo-blog {
    background-color: var(--azul);
    /* padding-left: 64px; */
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 68px;
    
}

.sec_titulo-blog {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.titulo_blog {
    color: var(--branco);
    font-weight: 700;
    text-align: left;
}




/* SEÇÃO CARDS BLOG */

.secao_cards-avo {
    background-color: var(--branco);
    width: 100%;
    /* padding: 80px 64px 80px 64px; */
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .secao_cards-avo {
        padding-top: 32px;
    }
}

.secao_cards-pai {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

@media screen and (max-width: 759px) {
    .secao_cards-pai {
        flex-direction: column;
        align-items: center;
    }

    .secao_cards-filho1 {
        padding-left: 24px;
    }
}

.secao_tio01 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao_cards-filho1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    

}

.card_blog {
    width: 380px;
    margin-top: 32px;
}

@media screen and (max-width: 448px) {
    .card_blog {
        max-width: 320px;
    }

    .img_card-blog {
        max-width: 320px;
    }

    .secao_cards-filho1 {
        padding-left: 24px;
    }
}




.img_card-blog {
    width: 380px;
    height: 220px;
    border-radius: 32px;
}

.titulo_card-blog {
    color: var(--azul);
    margin-top: 16px;
    text-decoration: none;
}

.parag_card-blog {
    color: var(--azul);
    margin-top: 4px;
    text-decoration: none;
}

.link_pagination {
    color: var(--azul);
    text-decoration: none;
}


.link_blog {
    text-decoration: none;
}

.link_blog:hover {
    text-decoration: underline 1px var(--azul);
}

.pagination {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.pag_lista {
    display: flex;
    list-style-type: none
}

.pag_item {
    margin-right: 10px;
    color: #000000;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
}

.item_ativo {
    background-color: var(--verde);
}




.secao_cards-filho2 {
    max-width: 400px;
}

.card_busca {
    background-color: var(--branco);
    border-radius: 32px;
    border: 1px solid #DBDEE8;
    box-shadow: 2px 2px 2px #DBDEE8;
    width: 360px;
    margin-top: 32px;
    padding: 24px;
}

@media screen and (max-width: 448px) {
    .card_busca {
        max-width: 320px;
    }
}

.botao_azul-card {
    display: inline-block;
    background-color: var(--azul);
    border-radius: 8px;
    color: var(--branco);
    padding: 8px 16px 8px 16px;
    margin-left: 0;
    margin-top: 24px;
    margin-bottom: 16px;
    /* margin-right: auto; */
}

.campo_busca {
    margin-right: 32px;
    width: 300px;
}

.btn-text-top {
    background-color: var(--branco);
    border: 1px solid #A4A3B1;
    padding: 15px 70px 15px 16px;
    border-radius: 16px;
    width: 300px;
    height: 42px;
    font-weight: 300;
    color: var(--cinza);
    margin: 0;
    left: 0;
  }
      
  .btn-buscar-top {
    width: 20px!important;
    height: 22px;
    background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    cursor: pointer!important;
    border: none;
    transform: translateY(-50%);
    padding: 0;
    position: relative;
    top: -22px;
    left: 260px;
    /* left: 260px; */
    /* left: 280px; */
  }

  @media screen and (max-width: 448px) {
        .btn-text-top {
            width: 280px;
        }
        
        .btn-buscar-top {
            left: 240px;
        }
  }


  .card_populares {
    background-color: var(--branco);
    border-radius: 32px;
    border: 1px solid #DBDEE8;
    box-shadow: 2px 2px 2px #DBDEE8;
    width: 360px;
    margin-top: 32px;
    padding: 24px;
  }

  @media screen and (max-width: 448px) {
    .card_populares {
        max-width: 320px;
    }
  }

  .div_populares {
    align-items: center;
    margin: 0;
    display: flex;
  }

  .img_populares {
    margin: 16px 16px 16px 0;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .texto_populares {
    color: var(--azul);
    font-weight: 700;
    margin: 0;
  }

  .post_populares {
    display: flex;
    align-items: center;
  }


  .card_categorias {
    border: 1px solid #DBDEE8;
    background-color: var(--branco);
    border-radius: 32px;
    box-shadow: 2px 2px 2px #DBDEE8;
    width: 360px;
    margin-top: 64px;
    padding: 32px;
  }

  .div_categorias {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #DBDEE8;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .img_categorias {
    margin-right: 10px;
    margin-left: 0;
  }

  .texto_categorias {
    color: var(--azul);
    font-weight: 700;
    margin: 0;
  }



 /* CHAMADA 02 */


.secao_chamada02 {
    background-color: var(--branco);
    padding: 0 32px 80px 32px;
    width: 100%;
}

.sec_chamada02-card {
    background-color: var(--verde);
    border-radius: 32px;
    padding: 64px 32px 64px 32px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .sec_chamada02-card {
        width: 100%;
        margin-left: 0!important;
        margin-right: 32px;

    }
}

.titulo_chamada02 {
    color: var(--branco);
    font-weight: 700;
    /* margin-top: 64px; */
    text-align: center;
}

.parag_chamada02 {
    color: var(--branco);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
}


.botao_azul {
    background-color: var(--azul);
    border-radius: 32px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    padding: 8px 16px 8px 16px;

}

.botao_center {
    text-align: center;
}

/* FOOTER */

.footer_blog {
    background-color: var(--fundocinzaescuro);
    padding: 80px 32px 80px 32px;
}

.div_footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.ft_rights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo_footer {
    width: 200px;
    margin-bottom: 16px;
}

.link_footer {
    text-decoration: none;
    color: var(--branco);
}

.link_footer:hover {
    text-decoration: underline;
}

.ft_laranja-slogan {
    color: var(--laranja);
    font-size: 18px;
}


.ft_laranja {
    color: var(--laranja);
    font-size: 16px;
}

.ft_branco {
    color: var(--branco);
    font-size: 15px;
}

.ft_branco-direitos {
    color: var(--branco);
    font-size: 15px;
}

@media screen and (min-width: 991px) {
    .ft_branco-direitos-respons {
        display: none;
    }
}

.footer_icones {
    display: flex;
    margin: 0 0 auto 0;
    
}

.footer_icon-redes {
    margin-right: 10px;
}

@media screen and (max-width: 991px) {
    .div_footer {
        flex-direction: column;
    }

    .ft_rights {
        order: 1;
        margin-top: 64px;
    }


    .footer_sobre {
        order: 2;
        margin-top: 32px;
    }

    .footer_links {
        order: 3;
        margin-top: 32px;
    }

    .footer_politicas {
        order: 4;
        margin-top: 32px;
    }

    .footer_icones {
        order: 5;
    }



    .footer_icones {
        margin-top: 24px;
    }

    .ft_branco-direitos-respons {
        display: block;
        color: var(--branco);
        font-size: 15px;
        margin-top: 32px;
    }

    .ft_branco-direitos {
        display: none;
    }
}